@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: 'Kaushan Script', cursive;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    background-image: url('./assets/pizza.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  h1{
    padding: 0;
    margin: 0;
  }

  p{

  }

  .header{
    font-size: 1.5em;
    width: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);

  }

  #content{
    margin-top: 3em;
    display: flex;
    justify-content: center;
  }

  .container{
    width: 750px;
    background-color: rgba(59, 59, 59, 0.7);
    border: 1px solid grey;
    padding: 2em;
  }

  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #chef{
    max-width: 300px;
    max-height: 300px;
    border-radius: 150px;
    border: 2px solid grey;
  }

  .menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 2rem;
  }

  .menuItem{
    height: 150px;
    padding: 1rem;
    background-color: rgba(59, 59, 59, 0.8);
    border: 1px solid grey;
  }

  /* Tab Button CSS */
  .tab {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .tab:focus,
  .tab:hover {
    color: #fff;
  }
  
  .tab:focus:after,
  .tab:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .tab:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }